.employees {
    display: flex;
    flex-direction: column;
}

.employee {
    background-color: rgb(232, 244, 154);
    border: 1px dotted rgb(187, 50, 187);
    padding: .7rem;
    margin: .5rem;
}

.employee__footer {
    font-style: oblique;
}

.employee__header {
    font-size: larger;
    font-weight: 700;
    line-height: 3rem;
}