.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar__logout {
    margin-left: auto;
}

.navbar {
    background:
       linear-gradient(
         to bottom,
         var(--mainColor) 0%,
         var(--mainColor) 100%
       );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    color: #000;
    text-decoration: none;
    transition: background-size .2s;
  }
  
  .navbar:hover {
    background-size: 4px 50px;
  }

